@keyframes stretching {
    0% {
        width: 500px;
    }
    100% {
        width: 500%;
    }
}

.button {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    animation-name: stretching;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}